* {
	font-family: 'Poppins', sans-serif;	
	box-sizing: border-box;
	scroll-behavior: smooth;
}

}

body {
	max-width: 100%;
}

/*navbar*/

#navbar-container {
	position: fixed;
	height: 43px;
	width: 100%;
	background-color: #0e1833b3;
	top: 0;
	left: 0;
	z-index: 1;
} 

nav > ul {
	display: flex;
	justify-content: center;
	padding: 2px 0;
}

ul > li {
	list-style-type: none;
	border-right: 2px solid whitesmoke;
	padding: 0px 7px;
	left: 0;
	right: 0;
}
nav li:last-child {
	border-right: none;
}
li > a {
	text-decoration-line: none;
	color: white;
}

/*home*/

#background > #lights {
	position: absolute;
	z-index: -1;
	width: 100%;
	top: 0;
	left: 0;
	opacity: .8;
}
.content-image {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}	

.content-image img {
	background-position: center;
    background-size: cover;
    border-radius: 50%;
    width: 240px;
    height: 240px;
    margin: 20% 0;
}

.section-title {
	text-align: center;

}

#section-list {
	text-align: center;
}
/*about me*/

#about-me {
	text-align: center;
}

span {
	font-size: 36px;
}

div > #quote-image {
	height: 300px;
	width: 300px;
	margin-bottom: 30px;
	margin-top: 20px;
	padding: 0px 30px 43px 30px;
}

/*skills*/

#section-list {
	margin: 20px;
	
}

#section-list i {
	font-size: 30px;
	width: 20%;
}

/*projects*/

#projects {
	text-align: center;
}

p > img {
	height: 185px;
	width: 80%;
	margin-bottom: 30px;
	margin-top: 20px;
	padding: 0px 30px 0;
}



/*contact*/

#contact {
	text-align: center;
}

#forms {
	justify-content: center;
	align-items: center;
	flex-direction: column;
	display: flex;
}

#forms input[type="text"],
#forms input[type="number"],
textarea{
	border-style: none;
	background: none;
	border-radius: 8px;
	padding: 5px 24px;
	border: 1px solid;
	margin: 4px 0;
}

#forms input[type="text"]:focus,
#forms input[type="number"]:focus,
textarea:focus {
	outline: none;
	border-color: #0e1833b3;

}

.btn {
	border-style: none;
	background: none;
	border-radius: 8px;
	padding: 5px 12px;
	border: 1px solid;
	margin: 4px 0;
}

.btn:hover {
	background-color: #0e1833b3;
}

/*footer*/
footer {
	text-align: center;
	font-size: 25px;
}



/*media queries for Mobile*/

@media screen and (max-width: 377px) {
	#content-image {
	height: auto;
	width: 33%;
	margin: 27%;
	}

	#section-list{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	input, textarea { 
	margin: 10px 0;
	width: 100%;
	border: 2px solid green;
}

.btn {
	border-style: none;
	background: none;
	border-radius: 8px;
	padding: 5px 12px;
	border: 1px solid;
	margin: 4px 0;
}

.btn:hover {
	background-color: #0e1833b3;
}

#forms input[type="text"],
#forms input[type="number"],
textarea{
	border-style: none;
	background: none;
	border-radius: 8px;
	padding: 5px 24px;
	border: 1px solid;
	margin: 4px 0;
}

#forms input[type="text"]:focus,
#forms input[type="number"]:focus,
textarea:focus {
	outline: none;
	border-color: #0e1833b3;

}
/*media query for IPAD*/
@media screen and (min-width: 382px) and (max-width: 768px) {
	#content-image {
	height: auto;
	width: 33%;
	margin: 27%;
	}

	#section-list{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	input, textarea { 
	margin: 10px 0;
	width: 100%;
	border: 2px solid green;
}

.btn {
	border-style: none;
	background: none;
	border-radius: 8px;
	padding: 5px 12px;
	border: 1px solid;
	margin: 4px 0;
}

.btn:hover {
	background-color: #0e1833b3;
}

#forms input[type="text"],
#forms input[type="number"],
textarea{
	border-style: none;
	background: none;
	border-radius: 8px;
	padding: 5px 24px;
	border: 1px solid;
	margin: 4px 0;
}

#forms input[type="text"]:focus,
#forms input[type="number"]:focus,
textarea:focus {
	outline: none;
	border-color: #0e1833b3;

}